{{>nav}}

<main class="container">
    <form action="/search_familia" method="post">
        <input name="search" type="search" placeholder="Procure Famílias" />
        <input type="submit" value="Procurar" />
    </form>
    <table>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">QTD</th>
                <th scope="col">IMG</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {{#each post}}
            <tr>
                <td>{{nomeResponsavel}}</td>
                <td>{{cpfResponsavel}}</td>
                <td>{{quantidadeFamilia}}</td>
                <td><img class="imglist" src="uploads/{{fileimg}}" alt=""></td>
                <td><a href="/familia/{{id}}"><i class="nf nf-fa-edit"></i></a></td>
                <td><a href="/delete_familia/{{id}}"><i class="nf nf-md-delete"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>

{{>footer}}